@using PagedList
@using PagedList.Mvc

@model IPagedList<JRM_Blog.Models.BlogPost>


    <div class="container">
        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-12">
                    @Html.ActionLink("Create New Post", "Create", "BlogPosts", null, new { @class = "btn btn-primary btn-block" })
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                @foreach (var item in Model)


                {
                    <div class="post-preview">

                        <a href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })">
                            <h2 class="post-title">
                                @item.Title
                            </h2>
                        </a>

                        <p class="post-meta">
                            Posted by John M.
                            on @item.Created.ToString("MMM dd, yyyy")
                        </p>
                    </div>
                    <hr>
                }
            </div>
        </div>

        <div class="row">

            @*Paging*@
            <div class="col-md-6">

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
            <!-- Pager -->

            </div>

            @*Search function*@
            <div class="col-md-6">

                @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                {
                    <div class="controls controls-row search-row mt-4" id="searchbox">
                        <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
                        <button id="searchStr" name="searchStr" class="btn btn-success" type="submit">
                            <i class="icon-search">Start Search</i>
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>

<hr>




