@model JRM_Blog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="post-heading">

                    <h1>
                        @Model.Title
                    </h1>
                    <span class="meta">
                        Posted by John
                        on @Model.Created.ToString("MMM dd, yyyy")

                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2">

            @if (Model.MediaURL != null)
            {
                <img class="img-thumbnail mx-5" style="width:200px;height:200px;" src="@Model.MediaURL" alt="" />
            }

        </div>

        <div class="col-lg-10 col-md-10 mx-auto">

            <p>@Html.Raw(Model.Body)</p>

        </div>
    </div>
    </div>
    <hr>

</article>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="btn btn-outline-success btn-wide">
                    @Html.ActionLink("Comment", "Create", "Comments")

                </div>
            }
            else
            {
                @*<div class="col-md-5"></div>
                <div class="col-md-2">*@
                <div class="col-md-12">
                    <p>@Html.ActionLink("Login to Comment", "Login", "Account", new { returnUrl = Url.Action("Details", "BlogPosts", new { Slug = Model.Slug }) }, new { @class = "btn btn-primary btn-wide mx-auto" })</p>
                </div>
                @*<div class="col-md-5"></div>*@
            }

        </div>

        <div class="col-md-8"></div>

        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-2">
                <div class="btn btn-outline-primary btn-wide">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

                </div>
            </div>
        }
    </div>
</div>
<hr>
<div class="row">
    <h3 class="mx-auto">Comments</h3>
</div>
<div class="container">
    @foreach (var item in Model.Comments)

    {
        <div class="row">

            <div class="col-md-4">
                <h5><a href="#">@item.Author.DisplayName</a></h5>
            </div>
            <div class="col-md-2">
                <h6>@item.Created.ToString("MMM dd, yyyy")</h6>
            </div>

        </div>

        <div class="row">

            <p>@item.Body</p>

        </div>

        <hr>

    }

    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Manage Comments", "Index", "Comments", null, new { @class = "btn btn-danger btn-block" })
            </div>
        </div>
    }
</div>



